.ProjectName{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    color: white;
    padding: 20px;
    border: 1px solid #ffffff2c;
    margin: 0;
}

.prompt{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
    padding:5px;
    border: 1px solid #ffffff2c;
    padding-left: 30px;
}

.AnswerBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 100vh;        /* 👈 fixed smaller width */
    margin:0 auto;
    flex-direction: column;
    border:2px solid #ffffff2c;
}

.AnswerBlock .write{
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    background-color: rgb(35, 35, 35);
    width: 700px;
    height: 120px;
    border-radius: 20px;
    margin: none;
    padding: 10px;
    color: white;
    padding: 15px;
    box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.3);
}

.AnswerBlock .enter{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    margin: 20px;
    margin-left: 640px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.AnswerBlock .enter:hover{
    background-color: rgb(38, 38, 38);
    color: white;
    transition: ease;
}

.AnswerBlock .ontop{
    font-family: 'Courier New', Courier, monospace;
    color: white !important;
    font-size: 25px;
    margin: 10px;
}

.AnswerBlock .question{
    font-family: 'Courier New', Courier, monospace;
    color: white !important;
    font-size: 15px;
    margin: 10px;
}